@import '../Variables.scss';

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red-medium;
    padding: 0.4em 2em;
    margin: 0px 4em;
    border-radius: 20%;
}

.avatar h3{
    color: white;
    font-family: $title-font;
}

.avatar img{
    width: 4em;
}