@import '../Variables';

body{
    margin:0px;
    h1{
        margin:0px;
    }
}


.navibar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-dark;
    height: 3em;
}

.logo-title{
    cursor: pointer;
    font-family: $title-font;
    padding: 0em 1em;
    color: $red-medium;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red-medium;
    cursor: pointer;
    height: 3em;
    margin-right: 1em;
}


.avatar h3{
    color: white;
    font-family: $title-font;
}

.avatar img{
    width: 2em;
}


@media only screen and (max-width: 600px) {
    
.navibar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-dark;
    height: 3em;
}

.logo-title{
    cursor: pointer;
    font-family: $title-font;
    padding: 0em 1em;
    color: $red-medium;
    font-size: 20px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red-medium;
    cursor: pointer;
    height: 3em;
    margin-right: 0em;
}


.avatar h3{
    color: white;
    font-family: $title-font;
}

.avatar img{
    width: 2em;
}

  }